n8n-workflow-freimanautos.json
{
  "name": "Freimanautos — Notificaciones Telegram",
  "nodes": [

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificar-etapa",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 500]
    },

    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.body.evento }}", "rightValue": "orden_creada", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "orden_creada"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.body.evento }}", "rightValue": "etapa_finalizada", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "etapa_finalizada"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.body.evento }}", "rightValue": "orden_completada", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "orden_completada"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.body.evento }}", "rightValue": "orden_calidad_aprobada", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "orden_calidad_aprobada"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.body.evento }}", "rightValue": "cotizacion_subida", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "cotizacion_subida"
            },
            {
              "conditions": { "conditions": [{ "leftValue": "={{ $json.body.evento }}", "rightValue": "repuesto_solicitado", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" },
              "renameOutput": true, "outputKey": "repuesto_solicitado"
            }
          ]
        },
        "options": {}
      },
      "id": "node-switch",
      "name": "Switch por evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 500]
    },

    {
      "parameters": {
        "chatId": "-5195463580",
        "text": "=🆕 *Nueva orden ingresada*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}* — {{ $('Webhook').item.json.body.orden.marca }} {{ $('Webhook').item.json.body.orden.linea }}\n👤 {{ $('Webhook').item.json.body.orden.propietario }}\n{{ $('Webhook').item.json.body.orden.aseguradora ? '🏢 Aseguradora: ' + $('Webhook').item.json.body.orden.aseguradora + '\\n' : '' }}📋 *Etapas asignadas:*\n{{ $('Webhook').item.json.body.etapas.map(e => '   • ' + e.etapa + ' → ' + e.tecnico).join('\\n') }}\n📅 Entrega estimada: {{ $('Webhook').item.json.body.orden.fecha_entrega_1 ? new Date($('Webhook').item.json.body.orden.fecha_entrega_1).toLocaleDateString('es-CO', {day:'2-digit',month:'short',year:'numeric'}) : 'Sin definir' }}\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-creada-grupo",
      "name": "TG Grupo — orden creada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 160],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "jsCode": "const body = $('Webhook').item.json.body;\nconst etapas = body.etapas || [];\nreturn etapas\n  .filter(e => e.tecnico && e.tecnico !== 'Sin asignar')\n  .map(e => ({\n    json: {\n      tecnico_nombre: e.tecnico,\n      etapa_nombre: e.etapa,\n      servicio: e.servicio,\n      placa: body.orden.placa,\n      marca: body.orden.marca,\n      linea: body.orden.linea,\n      propietario: body.orden.propietario,\n      fecha_entrega: body.orden.fecha_entrega_1,\n      link: body.link\n    }\n  }));"
      },
      "id": "node-split-etapas",
      "name": "Separar técnicos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },

    {
      "parameters": {
        "url": "=https://xjavnpwuhpmvpjdbjdeg.supabase.co/rest/v1/mecanicos?nombre=eq.{{ encodeURIComponent($json.tecnico_nombre) }}&select=nombre,telegram_chat_id",
        "options": { "response": { "response": { "neverError": true } } },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYXZucHd1aHBtdnBqZGJqZGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Njc5MDcsImV4cCI6MjA5MjQ0MzkwN30.07f6cGVrFhtm-B-I7iBLaHnPSuozFDpEf9vOHrliGRs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYXZucHd1aHBtdnBqZGJqZGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Njc5MDcsImV4cCI6MjA5MjQ0MzkwN30.07f6cGVrFhtm-B-I7iBLaHnPSuozFDpEf9vOHrliGRs" }
          ]
        }
      },
      "id": "node-buscar-tec-creada",
      "name": "Buscar telegram técnico (creada)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json[0]?.telegram_chat_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        }
      },
      "id": "node-if-tec-creada",
      "name": "¿Técnico tiene Telegram? (creada)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1180, 300]
    },

    {
      "parameters": {
        "chatId": "={{ $json[0].telegram_chat_id }}",
        "text": "=👷 *Te asignaron una etapa*\n🚗 *{{ $('Separar técnicos').item.json.placa }}* — {{ $('Separar técnicos').item.json.marca }} {{ $('Separar técnicos').item.json.linea }}\n👤 {{ $('Separar técnicos').item.json.propietario }}\n🔧 *{{ $('Separar técnicos').item.json.etapa_nombre }}* ({{ $('Separar técnicos').item.json.servicio }})\n📅 Entrega estimada: {{ $('Separar técnicos').item.json.fecha_entrega ? new Date($('Separar técnicos').item.json.fecha_entrega).toLocaleDateString('es-CO', {day:'2-digit',month:'short',year:'numeric'}) : 'Sin definir' }}\n🔗 {{ $('Separar técnicos').item.json.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-tecnico-creada",
      "name": "TG Técnico — asignado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1420, 300],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "url": "=https://xjavnpwuhpmvpjdbjdeg.supabase.co/rest/v1/mecanicos?nombre=eq.{{ encodeURIComponent($('Webhook').item.json.body.siguiente_etapa?.tecnico || '') }}&select=nombre,telegram_chat_id",
        "options": { "response": { "response": { "neverError": true } } },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYXZucHd1aHBtdnBqZGJqZGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Njc5MDcsImV4cCI6MjA5MjQ0MzkwN30.07f6cGVrFhtm-B-I7iBLaHnPSuozFDpEf9vOHrliGRs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqYXZucHd1aHBtdnBqZGJqZGVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4Njc5MDcsImV4cCI6MjA5MjQ0MzkwN30.07f6cGVrFhtm-B-I7iBLaHnPSuozFDpEf9vOHrliGRs" }
          ]
        }
      },
      "id": "node-buscar-tec-etapa",
      "name": "Buscar telegram técnico (etapa)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 500]
    },

    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json[0]?.telegram_chat_id }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } }],
          "combinator": "and"
        }
      },
      "id": "node-if-tec-etapa",
      "name": "¿Técnico tiene Telegram? (etapa)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 500]
    },

    {
      "parameters": {
        "chatId": "={{ $json[0].telegram_chat_id }}",
        "text": "=👷 *Te toca trabajar*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}* — {{ $('Webhook').item.json.body.orden.marca }} {{ $('Webhook').item.json.body.orden.linea }}\n🔧 *{{ $('Webhook').item.json.body.siguiente_etapa.nombre }}* ({{ $('Webhook').item.json.body.siguiente_etapa.servicio }})\nEtapa anterior completada: {{ $('Webhook').item.json.body.etapa_finalizada.nombre }} ✅\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-tecnico-etapa",
      "name": "TG Técnico — le toca",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 460],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "-5195463580",
        "text": "=✅ *Etapa completada*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}*\n🔧 *{{ $('Webhook').item.json.body.etapa_finalizada.nombre }}* finalizada por {{ $('Webhook').item.json.body.etapa_finalizada.tecnico || 'técnico' }}\n{{ $('Webhook').item.json.body.siguiente_etapa ? '➡️ Sigue: ' + $('Webhook').item.json.body.siguiente_etapa.nombre + ' → ' + ($('Webhook').item.json.body.siguiente_etapa.tecnico || 'Sin asignar') : '📋 No hay más etapas pendientes' }}\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-grupo-etapa",
      "name": "TG Grupo — etapa finalizada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1180, 580],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "-5195463580",
        "text": "=🏁 *Orden lista para revisión de calidad*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}* — {{ $('Webhook').item.json.body.orden.marca }} {{ $('Webhook').item.json.body.orden.linea }}\n👤 {{ $('Webhook').item.json.body.orden.propietario }}\n✅ Todas las etapas completadas\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-grupo-completada",
      "name": "TG Grupo — orden completada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 700],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "REEMPLAZAR_CON_CHAT_ID_JEFE",
        "text": "=🔍 *Pendiente: Aprobación de calidad*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}* — {{ $('Webhook').item.json.body.orden.marca }} {{ $('Webhook').item.json.body.orden.linea }}\n👤 {{ $('Webhook').item.json.body.orden.propietario }}\nTodas las etapas están listas. Por favor revisa y aprueba la calidad de cada una.\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-jefe-completada",
      "name": "TG Jefe — aprobar calidad",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 840],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "-5195463580",
        "text": "=✅ *Calidad aprobada*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}* — {{ $('Webhook').item.json.body.orden.marca }} {{ $('Webhook').item.json.body.orden.linea }}\n👤 {{ $('Webhook').item.json.body.orden.propietario }}\n✔️ Aprobado por: {{ $('Webhook').item.json.body.aprobado_por }}\nOrden lista para entrega al cliente 🎉\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-grupo-calidad",
      "name": "TG Grupo — calidad aprobada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 1000],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "8647322879",
        "text": "=🎉 *Orden aprobada por el jefe de taller*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}* — {{ $('Webhook').item.json.body.orden.marca }} {{ $('Webhook').item.json.body.orden.linea }}\n👤 {{ $('Webhook').item.json.body.orden.propietario }}\n✔️ Calidad aprobada por: {{ $('Webhook').item.json.body.aprobado_por }}\nEl vehículo está listo para ser entregado.\n🔗 {{ $('Webhook').item.json.body.link }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-gerente-calidad",
      "name": "TG Gerente — calidad aprobada",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 1140],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "-5195463580",
        "text": "=📄 *Cotización subida*\n🚗 *{{ $('Webhook').item.json.body.orden.placa }}*\n👤 {{ $('Webhook').item.json.body.orden.propietario }}\n{{ $('Webhook').item.json.body.orden.aseguradora ? '🏢 ' + $('Webhook').item.json.body.orden.aseguradora + '\\n' : '' }}🔗 [Ver PDF de cotización]({{ $('Webhook').item.json.body.cotizacion_url }})",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-cotizacion",
      "name": "TG Grupo — cotización",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 1300],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    },

    {
      "parameters": {
        "chatId": "-5195463580",
        "text": "=🔩 *Solicitud de repuesto*\n🚗 *{{ $('Webhook').item.json.body.placa }}* — {{ $('Webhook').item.json.body.marca }} {{ $('Webhook').item.json.body.modelo }}\n📦 {{ $('Webhook').item.json.body.unidades }}x *{{ $('Webhook').item.json.body.repuesto }}*\n👷 Solicitado por: {{ $('Webhook').item.json.body.solicitado_por }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-tg-repuesto",
      "name": "TG Grupo — repuesto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 1460],
      "credentials": { "telegramApi": { "id": "REEMPLAZAR_ID_CREDENTIAL", "name": "Telegram Bot" } }
    }

  ],

  "connections": {
    "Webhook": {
      "main": [[{ "node": "Switch por evento", "type": "main", "index": 0 }]]
    },
    "Switch por evento": {
      "main": [
        [
          { "node": "TG Grupo — orden creada", "type": "main", "index": 0 },
          { "node": "Separar técnicos", "type": "main", "index": 0 }
        ],
        [{ "node": "Buscar telegram técnico (etapa)", "type": "main", "index": 0 }],
        [
          { "node": "TG Grupo — orden completada", "type": "main", "index": 0 },
          { "node": "TG Jefe — aprobar calidad", "type": "main", "index": 0 }
        ],
        [
          { "node": "TG Grupo — calidad aprobada", "type": "main", "index": 0 },
          { "node": "TG Gerente — calidad aprobada", "type": "main", "index": 0 }
        ],
        [{ "node": "TG Grupo — cotización", "type": "main", "index": 0 }],
        [{ "node": "TG Grupo — repuesto", "type": "main", "index": 0 }]
      ]
    },
    "Separar técnicos": {
      "main": [[{ "node": "Buscar telegram técnico (creada)", "type": "main", "index": 0 }]]
    },
    "Buscar telegram técnico (creada)": {
      "main": [[{ "node": "¿Técnico tiene Telegram? (creada)", "type": "main", "index": 0 }]]
    },
    "¿Técnico tiene Telegram? (creada)": {
      "main": [
        [{ "node": "TG Técnico — asignado", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar telegram técnico (etapa)": {
      "main": [[{ "node": "¿Técnico tiene Telegram? (etapa)", "type": "main", "index": 0 }]]
    },
    "¿Técnico tiene Telegram? (etapa)": {
      "main": [
        [{ "node": "TG Técnico — le toca", "type": "main", "index": 0 }],
        [{ "node": "TG Grupo — etapa finalizada", "type": "main", "index": 0 }]
      ]
    },
    "TG Técnico — le toca": {
      "main": [[{ "node": "TG Grupo — etapa finalizada", "type": "main", "index": 0 }]]
    }
  },

  "settings": { "executionOrder": "v1" },

  "notes": "INSTRUCCIONES:\n1. En cada nodo de Telegram, asigna tu credencial 'Telegram Bot'.\n2. En el nodo 'TG Jefe — aprobar calidad', reemplaza REEMPLAZAR_CON_CHAT_ID_JEFE con el Chat ID personal del jefe de taller.\n3. El Chat ID del gerente (8647322879) ya está configurado.\n4. El Chat ID del grupo (-5195463580) ya está configurado.\n5. Ejecuta en Supabase: ALTER TABLE mecanicos ADD COLUMN IF NOT EXISTS telegram_chat_id TEXT;\n6. Llena telegram_chat_id en la tabla mecanicos para cada técnico."
}
